extends ./index.pug 
block mainContent
     div#categContainer
      h3 Choose a category
      ul#categories 
       li(type="button", class="btn btn-autor btn-outline-info categories") Authors
       li(type="button", class="btn  btn-titulo btn-outline-info categories") Title
       li(type="button", class="btn  btn-editorial btn-outline-info categories") Publisher
     div
      label(for="category_type")
      input(class="input" type="text", name="category_type")
      button(class="btn btn-outline-primary choice", onclick="Search()") Take a pick buddy! 
     div(id="category_reveil")
     script.
      var categ_types = ["hola", "man"]
      let clase = document.getElementById('categories')
      let liElement = document.querySelectorAll('.categories')
      var userInput = document.querySelector('.input')

      // Pick the category
      var categ = ''


       function pick_categ(e){

          // Disable the category button
           liElement.forEach(Elem => {
                Elem.classList.add("disabled")
           })

           categ = e.target.textContent
           
           switch(categ) {
                case "Authors":
                    categ = "inauthor"
                    break;
                case "Title":
                    categ = "intitle"
                    break;
                case "Publisher":
                    categ = "inpublisher"
                    break;
                default: 
                    return null
           }
           
      }
      
      // Event listener to trigger the pick category function
      clase.addEventListener("click", pick_categ)


      // Function to search the books using the API
      function Search() { 
          fetch(`https://www.googleapis.com/books/v1/volumes?q=${categ}:${userInput.value}`)
           .then((data) => {
                return data.json()
           })
           .then((response) => {
                categ = categ.toLowerCase()

                // Takes off the disabled state
                liElement.forEach(Elem => {
                Elem.classList.toggle("disabled")
           })
                 // Get #category_reveil
                let category_reveil = document.querySelector("#category_reveil")
                    
                    
                // Clear #category_reveil
                category_reveil.innerHTML = ""
               
                // Process the response
                response.items.forEach(item => {
                     console.log(item.volumeInfo.title)

                     // Create the anchor and its text
                     let a = document.createElement("a");
                     a.innerText = item.volumeInfo.title
                     console.log(a)

                     // Create the div and its class
                     let div = document.createElement("div");
                     div.classList.add("div_categ_style");

                     // Append a to div
                     div.appendChild(a)
                     // Append div to #category_reveil
                     category_reveil.appendChild(div)  

                     
                     
               })             
           })               
      }
       