div.lateral
   ul 
      li#member(class="fontTexto") Members 
      li#books(class="fontTexto") Books category
      li#print(class="fontTexto") Print book
      li#read(class="fontTexto") Daily read
      li#reminder(class="fontTexto") Reminder via sms or emaill 
      li#pdf(class="fontTexto") online read in pdf
      li#forum(class="fontTexto") Forooo
      li#request(class="fontTexto") Book request
div.content(class="fontTexto")
 block mainContent
 
   
    



        
